.main-div {
  width: 40%;
  min-width: 300px;
  margin: 30px auto;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  /* padding: 0 10px; */
}

.head-date {
  margin: 10px;
  font-size: 18px;
}

hr {
  width: 100%;
  color: gray;
  margin: 0;
}

.card-container {
  width: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
  background: antiquewhite;
  border-radius: 6px;
  padding: 10px;
  margin: 5px;
}

.sticky-nav {
  margin: auto;
  width: 40%;
  min-width: 300px;
}

.sticky-nav button {
  margin: 5px auto;
  width: 100%;
  height: 50px;
  font-size: large;
}

@media screen and (min-width: 680px) {
  .sticky-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: unset;
    width: 25%;
    max-width: 200px;
  }
}